# .vscode folder
.vscode/

# Logs
*.log

# Node.js
node_modules/

# Dependencias
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios de compilación
dist/
build/

# Archivos de sistema
Thumbs.db
.DS_Store

# Archivos de configuración de VSCode
.settings/

# Archivos de cursor, como aquellos generados por el plugin de VSCode para personalizar el cursor
cursor/

# Archivos de entorno
.env
.env.*

# Archivos de cobertura
coverage/

# Archivos temporales
*.swp
*.swo
*.tmp
*.bak
